@charset "UTF-8";

     /* FONTE TEXTO */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');  

    /* FONTE PRINCIPAL */
@font-face {   
    font-family:'GeosansLight';
    src: url(../fontes/GeosansLight.ttf)
         format('truetype');
}

    /* FONTE STYLE */
@font-face {
    font-family: 'CinzelDecorative';
    src: url(../fontes/CinzelDecorative-Regular.ttf)
         format('truetype');
}

:root {
    
    --cor-principal: rgb(0, 0, 106); 
    --cor-secundaria: #0428BB;
    --cor-rodape: #01092D;
   
    --font-style: 'CinzelDecorative';
    --font-principal: 'GeosansLight';
    --font-texto: 'Open Sans', sans-serif;
}

.box-primario, body, html{
    display: flex;
    justify-content: center; /*--- sem direcion colunm*/
    align-items: center;
    height: 100vh;
    background-color:white;
}

.box-secundario, .box-terciario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-principal);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.484);
    border-radius: 12px 0px 0px 12px;
    height: 70vh;
    width: 45vw;
    max-width: 450px;
    
}

img {
    height: 150px;
    width: 140px;
    margin-bottom: 20px;
}

.photo-litle {
    height: 100px;
    width: 100px;
    margin-top: 30px;
}

h1 {
    font: bold 1.3em var(--font-style);
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.368);
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 50px;
}

.box-login, .box-novo-usuario, .box-nova-senha {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.484);
    background-color:white;
    border-radius: 0px 12px 12px 0px;
    height: 70vh;
    width: 45vw;
    max-width: 500px;
}

.box-login {
    height: 70vh;
}

h2 {
    font: bold 1.8em var(--font-principal);
    color: var(--cor-principal);
    text-align: center;
}

.box-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 0px 0px 12px 12px;
    background-color:white;
    height: 45vh;
    width: 90vw;
}

.box-text {
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 5px 5px 5px 5px;
    height: 50px;
    width: 70vw;
}

.box-input, .box-input-set {
    background-color: white;
    font: 1em Arial;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.338);
    padding-left: 10px;
    height: 35px;
    width: 270px;
}


.box-input-set {
    width: 200px;
}

                        /* PSEUDO CLASSE NOS INPUT */
.box-input:focus {    
    outline: none;
}

label {
    font: bold 1.15em var(--font-principal);
    color: var(--cor-principal);
    margin: 0px 20px 0px 40px;
}

.box-button {
    background-color: var(--cor-principal);
    font: bold 1.3em var(--font-principal);
    color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.489);
    border: none;
    height: 52px;
    width: 40%;
}

.link-acesso, .link-voltar {
    font: bold 1.1em var(--font-texto);
    color: var(--cor-principal);
    text-decoration: none;
}

            /* ESTILO DO FORMULARIOO DE NOVO USUARIO */



.link-voltar {
    margin-bottom: 15px;
}